body{
  padding:          20px;
	background-color: #eee;
	border:           #999 1px solid;
}
#js{
	width:				158px;
	border:				thin solid #999;
  float:        left;
  padding:      20px;
}
span{
  line-height:  40px;
	margin-right: 20px;
  float:        right;
}
img{
  margin:       10px 0px;
}

#logo{
  float:            right;
  padding:          20px;
  border:           thin solid #999;
  width:            78px;
}

#nr{
  padding:          20px;
  border:           1px solid #999;
  margin:           0px 140px 0px 220px;
}
